@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../views/**/*.blade.php';

@theme {
    --font-sans: 'Figtree', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-brand-50: oklch(96.2% 0.005 272.628);
    --color-brand-100: oklch(93% 0.009 272.628);
    --color-brand-200: oklch(87% 0.017 272.628);
    --color-brand-300: oklch(78.5% 0.03 272.628);
    --color-brand-400: oklch(67.3% 0.048 272.628);
    --color-brand-500: oklch(48.9% 0.061 272.628);
    --color-brand-600: oklch(35.6% 0.069 272.628);
    --color-brand-700: oklch(25.9% 0.063 272.628);
    --color-brand-800: oklch(18.8% 0.051 272.628);
    --color-brand-900: oklch(13.7% 0.038 272.628);
    --color-brand-950: oklch(10% 0.024 272.628);
}

[x-cloak] {
    display: none !important;
}

@page {
    margin: 2mm 12mm 12mm 12mm;
}
